

header {
    text-align: center;
    font-family: 'Shojumaru';
    color: white;
    font-size: 36px;
}

.overall {
    display: none;
}

.carousel {
    visibility: hidden;
}

.logo {
    margin: 0 20px 0 20px;
}

.main-content {
    color: black;
    height: 400px;
    width:200px;
    overflow-y: auto;
}


#search-box {
    border: inset;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-align: center;
    width:260px;
}


#map {
    height:300px;
    width: 300px;
    display: block;
    position: relative;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 36px;
    color: white

}

body {
    font-family: 'Roboto';
    color: #650003;
    background: url("http://shogunfusion.com/templates/31205/images/slide-5.jpg") no-repeat center fixed;
    background-color: black;
    opacity: 80;

}

.side-bar {
    width: 200px;
}
#no-results {
    display: none;
}

img {
    border-radius: 20px;

  }

.main-content {
    height: 450px;
    overflow-y:auto;
}

.collapsible {
    width: 100%;
}

.collapsible-header {
    background-size: cover;
    font-family: Verdana, Geneva, sans-serif;
    opacity: 0.95;
}

.collapsible-body {
    background-color:black;
    opacity: 50;
    color: whitesmoke;
}

#restaurant-men {
    text-align: center;
}


#restaurant-reviews {
    background-color: black;
    color:whitesmoke;
}

#modal1 {

    color: red;
    width: 100%;
    display: inline-block;
    padding: 10px;
    border: solid 2px black;
    border-radius: 10px;
   
}

#google-review {
    width: 100%;
    display: inline-block;
}


.food-menu {
    /*background-color: #ffd47e;*/
    height: 300px;
    overflow-y:auto;
}


div.zomatoRestaurantReview {
    box-sizing: border-box;
    border: 2px;
    border-bottom: 2px;
    margin-bottom: 2px;
    
}


#input {
    /*background-image: url(https://cdn.pixabay.com/photo/2017/04/24/12/29/noodles-2256332_960_720.jpg);*/
    background-size: cover;
    border-radius: 15px;
    padding-left: 25px;
    
}



.hide-on-load {
    display: none;
}


.onload-graphic {
    height: 100%;
    width: 100%;
}



.onload-div {
    text-align: center;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 200px;
    padding:20px;
    font-family: 'Shojumaru';
    background-color: white;
}

#zomato-review {
    padding: 5px;

    float:left;
    width:50%;

}
#google-review {
    padding: 5px;
    width:50%;
}

@media only screen and (max-width: 1200px) {
    #map {
        width: 200px;
    }
}

.stars {
    color:gold;
}


